/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
/* HEADER CSS */
.roxy-header{
  background-image: url(https://i.pinimg.com/564x/58/16/ee/5816eee0a707c80551976cdaa6b0bdb6.jpg);
  font-size: 50px;
  display: flex;
  justify-content: center;
  }
.roxy-header a{
  text-decoration: none;
  color: white;
}
.roxy-header a:hover{
  color: red;
}
/* NAVIGATION CSS */
.navigation-tab{
  display: flex;
  justify-content: space-around;
  background-color: rgb(255, 115, 0);
  position: sticky;
  top: 0px;
}
.navigation-tab a{
  text-decoration: none;
  color: black;
}
.navigation-tab h2{
  font-size: 35pt;
}
.navigation-tab a:hover{
  color: white;
}
/* OUR STORY */
.our-story{
  display: flex;
  gap: 35px;
  margin: 75px;
}
.our-story-images figure{
  width: 100%;
  margin: 35px;
}
.our-story-images figcaption{
  font-size: 15pt;
  margin-top: 8px;
}
.our-story-text p{
  font-size: 17pt;
}
.our-story h3{
  font-size: 50pt;
}
/* HOME PAGE- featured and seasonal */
.home-page{
  padding: 10pt;
}
.home-page figcaption{
  font-size: 15pt;
}
.home-page h3{
  font-size: 45pt;
}
.featured-items img{
  width: 100%;
  height: auto;
  max-width: 300px;
}
.featured-items{
  display: flex;
  flex-wrap: wrap;
}
.seasonal-items img{
  width: 100%;
  height: auto;
  max-width: 300px;
}
.seasonal-items{
  display: flex;
  flex-wrap: wrap;
}
/* MENU CSS */
.roxys-menu-header h3{
  font-size: 50pt;
  text-align: center;
  color: black;
}
.jump-to-buttons a{
  text-decoration: none;
  color: white;
  font-size: 15pt;
}
.jump-to-buttons{
  text-align: center;
  background-color: rgb(255, 217, 0);
  padding: 18px;
}
.jump-to-buttons button{
  background-color: rgb(199, 22, 22);
  padding: 8px;
  border-radius: 8px;
}
.jump-to-buttons button:hover{
  background-color: maroon;
}
.roxys-menu-body h4{
  font-size: 25pt;
}
.roxys-menu-body figcaption{
  font-size: 15pt;
}
.roxys-menu-body img{
  width: 100%;
  height: auto;
  max-width: 300px;
}
/* FIX THIS REPEAT THE FEATURED ITEMS */

.roxys-menu-body{
  display: flex;
  flex-wrap: wrap;
}
.roxys-menu-body ul{
  padding-bottom: 40px ;
}
/* LOCATIONS CSS */
.location-page h3{
  font-size: 50pt;
  color: rgb(37, 3, 3);
  margin-left: 40px;
}
.location-page h4{
  font-size: 25pt;
  color: brown;
  margin: 10px;
}
.location-page ul{
  margin-left: 40px;
  font-size: 20pt;
}
.location-page li{
  padding: 4px;
}
/* CONTACT US CSS */
.contact-us-title h3{
  font-size: 50pt;
  margin-left: 40px;
  margin-bottom: 0%;
  margin-top: 40px;
}
.contact-us-body{
  font-size: 20pt;
  margin-left: 40px;
}
.contact-us-body li{
  margin: 4pt;
}
.contact-us-body{
  margin-bottom: 40px;
  margin-top: 20px;
}
.contact-us-body a{
  color: #000;
}
.contact-us-body a:hover{
  background-color:orange;
}
/* FOOTER CSS */
.footer-tab{
  display:flex;
  justify-content: space-around;
  background-color: darkred;
}
.footer-tab h4{
  color: white;
  font-size: 28px;
}
.sitemap li{
  color: white;
  font-size: 15pt;
  margin-top: 4pt;
}
.sitemap a{
  color: white;
}
.sitemap a:hover{
  color: red
}
.contact-footer li{
  color: white;
  font-size: 15pt;
  margin-top: 4pt;
}
.contact-footer a{
  color: white;
}
.contact-footer a:hover{
  color: red;
}